{% load static %}
<!doctype html>
<html lang="en">
<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139388883-1"></script>
		<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-139388883-1');
		</script>
  <meta charset="utf-8">
  <title>Sageo Consult | IT Services Company</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link rel="shortcut icon" href="{% static 'img/ico/favicon.ico' %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/ico/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/ico/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/ico/apple-touch-icon-72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'img/ico/apple-touch-icon-57-precomposed.png' %}">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">  
    
    
  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- ../libraries CSS Files -->
  <link href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="{% static 'css/nivo-slider-theme.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">


</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a href="/index">
                <img src="{% static 'img/logo.png' %}" alt="Sageo Logo" title="SageoConsult"> 
                </a>
                <a class="navbar-brand page-scroll sticky-logo" href="/">
                  <h1><span>Sageo</span> Consult</h1>
				</a>
              </div>
              
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a class="page-scroll" href="/">Home</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/about">About Us</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/careers">Careers</a>
                  </li>
                  <li class="active">
                    <a class="page-scroll" href="/blog">Blog</a>
                  </li>
                  <li class="dropdown"><a href="/services" class="dropdown-toggle" data-toggle="dropdown">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu " role="menu">
                      <li><a href="/services?sn=dataserv#serviceArea" >Data Services</a></li>
                      <li><a href="/services?sn=webdev#serviceArea">Web Development</a></li>
                      <li><a href="/services?sn=netinfra#serviceArea">Networking & Infrastructure</a></li>
                      <li><a href="/services?sn=bpmrpm#serviceArea">BPM & RPM</a></li>
                    </ul> 
                  </li>
                  <li>
                    <a class="page-scroll" href="/industry">Industries</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/contact">Contact Us</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->
  



  
<!-- Start Bottom Header 
  <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">My Blog</h1>
              </div>
              <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                <h2 class="title3">Profesional Blog Page</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  END Header -->
  
  
  
   <div id="blogSection">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
      <br>
      
      <br>
      
      <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom layer-1-2">
              <div data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">IT Convos</h1>
              </div>
              <br>
                   <div class="wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                      <h4 id="downlayer">Sharing Creative Insights on the Latest Information Technology</h4>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
 
 
 
 
 

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header subscribeBorderBtm">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">We appreciate your business....</h4>
      </div>
      <div class="modal-body">
        <p class="fs-14 successs">Thanks for contacting Sageo Consult. Please check your email for updates.</p> 
        <p class="fs-14 fail">Please enter a valid email address.</p>
      </div>
    </div>

  </div>
</div>
<!--Modal End -->
  
  
  
    
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 footer-box wow">
                <h4>About Us</h4>
                <div class="footer-box-text">
                    <p>
                    	Sageo Consult is an IT services company that offers business and technical expertise to enable organizations in the creation, management and optimization of information to adapt to information technology revolution.
                    </p>
                    <p><a href="">Read more...</a></p>
                </div>
            </div>
            
            <div class="col-sm-2 footer-box wow">
                <h4>Services</h4>
                <div class="footer-box-text footer-box-text-contact">
					<p><a href="/services?sn=dataserv#serviceArea">Data Migration</a> </p>
					<p><a href="/services?sn=dataserv#serviceArea">Data Integration</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Website Development</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Web Application</a></p>
					<p><a href="/services?sn=dataserv#serviceArea">Big Data &amp; Analytics</a></p>
                </div>
            </div>
            <div class="col-sm-2 footer-box wow">
				<h4> <br> </h4>
                <div class="footer-box-text footer-box-text-contact">
					<p><a href="/services?sn=netinfra#serviceArea">Security</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">Firewall Auditing</a></p>
					<p><a href="/services?sn=bpmrpm#serviceArea">BPM &amp; RPA</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">IT Infrastructure Assessment</a></p>
                </div>
            </div>
            <div class="col-sm-2 footer-box wow ">
                <h4>Careers</h4>
                <div class="footer-box-text footer-box-text-subscribe">
                	<p>Enter your email to receive Job notifications:</p>
                	<form role="form" action="/about" method="post">
                    	<div class="form-group">
                    		<label class="sr-only" for="subscribe-email">Email address</label>
                        	<input type="text" name="email" placeholder="Email..." class="subscribe-email form-control" id="subscribe-email">
                        </div>
                        <button type="button" class="btn">Subscribe</button>
                    </form>
                    <p class="success-message"></p>
                    <p class="error-message"></p>
                </div>
            </div>
            <div class="col-sm-3 footer-box wow ">
                <h4>Contact Us</h4>
                <div class="footer-box-text footer-box-text-contact">
                    <p><i class="fa fa-map-marker"></i> P.O Box 307321, Columbus, OH 43230</p>
                    <p><i class="fa fa-phone"></i> Phone: +1 614 434 6691</p>
                    <p><i class="fa fa-user"></i> Skype: sageoconsult</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="">info@sageoconsult.com</a></p>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-sm-12 wow">
        		<div class="footer-border"></div>
        	</div>
        </div>
        <div class="row">
            <div class="col-sm-7 footer-copyright wow">
                <p>Copyright &copy 2019 Sageo Consult - All rights reserved</p>
            </div>
            <div class="col-sm-5 footer-social wow">
                <a href=""><i class="fa fa-facebook"></i></a>  
                <a href=""><i class="fa fa-google"></i></a> 
                <a href=""><i class="fa fa-twitter"></i></a> <span> | </span>
                       
                
                <a href="#"> Terms of Use </a> <span> | </span>
                <a href="/privacy"> Privacy Policy </a> <span> | </span>
                <a href="#"> Disclaimer </a> <span> | </span>
                <a href="/contact"> Contact Us </a> 
                
            </div>
        </div>
    </div>
</div>
</footer>

<script type="text/javascript">
	$("#myModal").on("hidden.bs.modal", function () {
			$(".subscribe-email").val("");
	});
	$(".btn").click(function(){
			$(".modal-body p").removeClass("hidden");
			if($(".subscribe-email").val().length > 0)
			{
				$(".fail").addClass("hidden");
				$("#myModal").modal('show');
			}else {
				$(".successs").addClass("hidden");
				$("#myModal").modal('show');
			}
		
		});

</script>







  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

 
  <!-- JavaScript ../libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery.backstretch.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery.magnific-popup.min.js' %}"></script>
  
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'lib/knob/jquery.knob.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/parallax/parallax.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/appear/jquery.appear.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap-hover-dropdown.min.js' %}"></script>
  <script src="{% static 'lib/flexslider/jquery.flexslider-min.js' %}"></script>

 

  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
  <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
  
</body>

</html>
