{% load static %}
<!doctype html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-139388883-1"></script>
<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-139388883-1');
		</script>
<meta charset="utf-8">
<title>Sageo Consult | IT Services Company</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<!-- Favicons -->
<link href="{% static 'img/favicon.png' %}" rel="icon">
<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link href="{% static 'img/ico/favicon.ico' %}" rel="shortcut icon">
<link href="{% static 'img/ico/apple-touch-icon-144-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="{% static 'img/ico/apple-touch-icon-114-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="{% static 'img/ico/apple-touch-icon-72-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="{% static 'img/ico/apple-touch-icon-57-precomposed.png' %}" rel="apple-touch-icon-precomposed">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<!-- Bootstrap CSS File -->
<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- ../libraries CSS Files -->
<link href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
<link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
<!-- Nivo Slider Theme -->
<link href="{% static 'css/nivo-slider-theme.css' %}" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!-- Responsive Stylesheet File -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">


</head>

<body data-spy="scroll" data-target="#navbar-example">

<div id="preloader">
</div>
<header>
	<!-- header-area start -->
	<div id="sticker" class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- Navigation -->
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button aria-expanded="false" class="navbar-toggle collapsed" data-target=".bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span></button>
							<!-- Brand --><a href="/index">
							<img alt="Sageo Logo" src="{% static 'img/logo.png' %}" title="SageoConsult">
							</a>
							<a class="navbar-brand page-scroll sticky-logo" href="/">
							<h1><span>Sageo</span> Consult</h1>
							</a></div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div id="navbar-example" class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a class="page-scroll" href="/">Home</a>
								</li>
								<li><a class="page-scroll" href="/about">About 
								Us</a> </li>
								<li>
								<a class="page-scroll" href="/careers">Careers</a>
								</li>
								<li><a class="page-scroll" href="/blog">Blog</a>
								</li>
								<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="/services">
								Services<span class="caret"></span></a>
								<ul class="dropdown-menu " role="menu">
									<li>
									<a href="/services?sn=dataserv#serviceArea">
									Data Services</a></li>
									<li>
									<a href="/services?sn=webdev#serviceArea">
									Web Development</a></li>
									<li>
									<a href="/services?sn=netinfra#serviceArea">
									Networking &amp; Infrastructure</a></li>
									<li>
									<a href="/services?sn=bpmrpm#serviceArea">
									BPM &amp; RPM</a></li>
								</ul>
								</li>
								<li class="active">
								<a class="page-scroll" href="/industry">Industries</a>
								</li>
								<li>
								<a class="page-scroll" href="/contact">Contact 
								Us</a> </li>
							</ul>
						</div>
						<!-- navbar-collapse -->
					</nav>
					<!-- END: Navigation --></div>
			</div>
		</div>
	</div>
	<!-- header-area end -->
</header>
<!-- header end -->



  
  <div id="contactBackground">
  	<div class="slider-content text-center">
  	  <div class="header-bottom layer-1-2">
  	     <div>
            <h1 id="uplayer">Welcome</h1>
        </div>
        <br>
        <div>
             <h4 id="downlayer">We're happy to answer all your questions in the shortest possible time!</h4>
        </div>
  	  </div>
  </div>
</div>






<!-- Start contact Area -->
  <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Contact us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  Call: +1 614 434 6691<br>
                  <span>Monday-Friday (9am-5pm)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                  Email: info@sageoconsult.com<br>
                  <span>Web: www.sageoconsult.com</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  Location: P.O Box 307321 Columbus OH <br>
                  <span>OH 43230, USA</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Start Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.567499677348!2d-82.87579908461615!3d40.018107379413415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883861854a222d73%3A0xc867f97ffa3e3c7e!2s246+Lincoln+Cir+Ste+H%2C+Gahanna%2C+OH+43230!5e0!3m2!1sen!2sus!4v1558019203727!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start  contact -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form contact-form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="{% url 'contact' %}" method="post" role="form" class="contactForm">
                {% csrf_token %}
                <div class="form-group">
                  
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"  required/>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required/>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required/>
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" required data-msg="Please write something for us" placeholder="Message" ></textarea >
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" class="contactUsSubmitBtn">Send Message</button><input type="text" class="contactRequested hidden" value=""></div>
              </form>
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Area -->
  
  
  
  
  
  

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header subscribeBorderBtm">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">We appreciate your business....</h4>
      </div>
      <div class="modal-body">
        <p class="fs-14 successs">Thanks for contacting Sageo Consult. Please check your email for updates.</p> 
        <p class="fs-14 fail">Please enter a valid email address.</p>
      </div>
    </div>

  </div>
</div>

<div id="contactUsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header subscribeBorderBtm">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">We appreciate your business....</h4>
      </div>
      <div class="modal-body">
        <p class="fs-14">Thanks for contacting Sageo Consult. We are here to help, and we will respond to your request as soon as we can.</p> 
      </div>
    </div>

  </div>
</div>

<!--Modal End -->
 
 
 
  
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 footer-box wow">
                <h4>About Us</h4>
                <div class="footer-box-text">
                    <p>
                    	Sageo Consult is an IT services company that offers business and technical expertise to enable organizations in the creation, management and optimization of information to adapt to information technology revolution.
                    </p>
                    <p><a href="/about">Read more...</a></p>
                </div>
            </div>
            
            <div class="col-sm-2 footer-box wow">
                <h4>Services</h4>
                <div class="footer-box-text footer-box-text-contact">
					<p><a href="/services?sn=dataserv#serviceArea">Data Migration</a> </p>
					<p><a href="/services?sn=dataserv#serviceArea">Data Integration</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Website Development</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Web Application</a></p>
					<p><a href="/services?sn=dataserv#serviceArea">Big Data &amp; Analytics</a></p>
                </div>
            </div>
            <div class="col-sm-2 footer-box wow">
				<h4> <br> </h4>
                <div class="footer-box-text footer-box-text-contact">
					<p><a href="/services?sn=netinfra#serviceArea">Security</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">Firewall Auditing</a></p>
					<p><a href="/services?sn=bpmrpm#serviceArea">BPM &amp; RPA</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">IT Infrastructure Assessment</a></p>
                </div>
            </div>
            <div class="col-sm-2 footer-box wow ">
                <h4>Careers</h4>
                <div class="footer-box-text footer-box-text-subscribe">
                	<p>Enter your email to receive Job notifications:</p>
                	<form role="form" action="/about" method="post">
                    	<div class="form-group">
                    		<label class="sr-only" for="subscribe-email">Email address</label>
                        	<input type="text" name="email" placeholder="Email..." class="subscribe-email form-control" id="subscribe-email">
                        </div>
                        <button type="button" class="btn">Subscribe</button>
                    </form>
                    <p class="success-message"></p>
                    <p class="error-message"></p>
                </div>
            </div>
            <div class="col-sm-3 footer-box wow ">
                <h4>Contact Us</h4>
                <div class="footer-box-text footer-box-text-contact">
                    <p><i class="fa fa-map-marker"></i> P.O Box 307321, Columbus, OH 43230</p>
                    <p><i class="fa fa-phone"></i> Phone: +1 614 434 6691</p>
                    <p><i class="fa fa-user"></i> Skype: sageoconsult</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="">info@sageoconsult.com</a></p>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-sm-12 wow">
        		<div class="footer-border"></div>
        	</div>
        </div>
        <div class="row">
            <div class="col-sm-7 footer-copyright wow">
                <p>Copyright &copy 2019 Sageo Consult - All rights reserved</p>
            </div>
            <div class="col-sm-5 footer-social wow">
                <a href=""><i class="fa fa-facebook"></i></a>  
                <a href=""><i class="fa fa-google"></i></a> 
                <a href=""><i class="fa fa-twitter"></i></a> <span> | </span>
                <a href="#"> Terms of Use </a> <span> | </span>
                <a href="/privacy"> Privacy Policy </a> <span> | </span>
                <a href="#"> Disclaimer </a> <span> | </span>
                <a href="/contact"> Contact Us </a> 
                
            </div>
        </div>
    </div>
</div>
</footer>




<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- JavaScript ../libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery.backstretch.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/knob/jquery.knob.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/wow/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/parallax/parallax.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/easing/easing.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/appear/jquery.appear.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/flexslider/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'js/retina-1.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}" type="text/javascript"></script>


<script type="text/javascript">
	$(function(){
		$(".readMore").click(function(){
			$(".div-readmore").toggleClass("active");
			if($(".div-readmore").is(":visible")){
				$(".readMore").html("READ LESS");
				$(".toggleControl").first().removeClass("collapsed");
				$(".healthCare").siblings().find(">:first-child").addClass("collapsed");
			}
			else{
				$(".readMore").html("READ MORE");
			}
		});
		$(".toggleControl").click(function(){
			$(this).toggleClass("collapsed");
			if($(this).hasClass("collapsed")){
				$(this).next().removeClass("collapse");
			}
			else{
				$(this).next().addClass("collapse");
			}	

		});
	});
</script>

<script type="text/javascript">
	$(function(){
		$(window).on('load', function() {
			$(".contactRequested").val(sessionStorage.getItem("contactRequested"));
			if($(".contactRequested").val() == "yes"){
				$("#contactUsModal").modal('show');
				sessionStorage.clear();
			}

		});
		$("#myModal").on("hidden.bs.modal", function () {
			$(".subscribe-email").val("");
		});
		$(".btn").click(function(){
			$(".modal-body p").removeClass("hidden");
			if($(".subscribe-email").val().length > 0)
			{
				$(".fail").addClass("hidden");
				$("#myModal").modal('show');
			}else {
				$(".successs").addClass("hidden");
				$("#myModal").modal('show');
			}
		});
		$(".contactUsSubmitBtn").click(function(){
			sessionStorage.clear();
			sessionStorage.setItem("contactRequested", "yes");		
		});
	});
</script>
  
</body>

</html>
