{% load static %}
<!doctype html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-139388883-1"></script>
<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-139388883-1');
		</script>
<meta charset="utf-8">
<title>Sageo Consult | IT Services Company</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<!-- Favicons -->
<link href="{% static 'img/favicon.png' %}" rel="icon">
<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link href="{% static 'img/ico/favicon.ico' %}" rel="shortcut icon">
<link href="{% static 'img/ico/apple-touch-icon-144-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="{% static 'img/ico/apple-touch-icon-114-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="{% static 'img/ico/apple-touch-icon-72-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="{% static 'img/ico/apple-touch-icon-57-precomposed.png' %}" rel="apple-touch-icon-precomposed">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<!-- Bootstrap CSS File -->
<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- ../libraries CSS Files -->
<link href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
<link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
<!-- Nivo Slider Theme -->
<link href="{% static 'css/nivo-slider-theme.css' %}" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!-- Responsive Stylesheet File -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-example">

<div id="preloader">
</div>
<header>
	<!-- header-area start -->
	<div id="sticker" class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- Navigation -->
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button aria-expanded="false" class="navbar-toggle collapsed" data-target=".bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span></button>
							<!-- Brand --><a href="/index">
							<img alt="Sageo Logo" src="{% static 'img/logo.png' %}" title="SageoConsult">
							</a>
							<a class="navbar-brand page-scroll sticky-logo" href="/">
							<h1><span>Sageo</span> Consult</h1>
							</a></div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div id="navbar-example" class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a class="page-scroll" href="/">Home</a>
								</li>
								<li><a class="page-scroll" href="/about">About 
								Us</a> </li>
								<li>
								<a class="page-scroll" href="/careers">Careers</a>
								</li>
								<li><a class="page-scroll" href="/blog">Blog</a>
								</li>
								<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="/pages/services">
								Services<span class="caret"></span></a>
								<ul class="dropdown-menu " role="menu">
									<li>
									<a href="/services?sn=dataserv#serviceArea">
									Data Services</a></li>
									<li>
									<a href="/services?sn=webdev#serviceArea">
									Web Development</a></li>
									<li>
									<a href="/services?sn=netinfra#serviceArea">
									Networking &amp; Infrastructure</a></li>
									<li>
									<a href="/services?sn=bpmrpm#serviceArea">
									BPM &amp; RPM</a></li>
								</ul>
								</li>
								<li class="active">
								<a class="page-scroll" href="/industry">Industries</a>
								</li>
								<li>
								<a class="page-scroll" href="/contact">Contact 
								Us</a> </li>
							</ul>
						</div>
						<!-- navbar-collapse -->
					</nav>
					<!-- END: Navigation --></div>
			</div>
		</div>
	</div>
	<!-- header-area end -->
</header>
<!-- header end -->
<div id="industriesBackground">
	<div class="slider-content text-center">
		<div class="header-bottom layer-1-2">
			<div>
				<h1 id="uplayer">Industries</h1>
			</div>
			<br>
			<div>
				<h4 id="downlayer">Delivering IT Solutions To Your Domain of Influence</h4>
			</div>
		</div>
	</div>
</div>
<!-- industry area start -->
<div class="industry-area area-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="section-headline text-center">
					<h2>Domain Areas</h2>
				</div>
			</div>
		</div>
		<!-- About Presentation -->
		<div class="container">
			<div class="row">
				<div id="about-presentation">
					<div class="col-xs-12 center-block text-center">
						<h5>We are an IT services company that is focused on giving 
						you industry proven and lasting results. We take your business 
						beyond its limitations at an affordable price. Our focus 
						is making small businesses more profitable. </h5>
					</div>
				</div>
			</div>
		</div>
		<!-- Presentation Ends -->
		<div class="row">
			<!-- single-well start-->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="well-left">
					<div class="single-well">
						<a href="#">
						<img alt="" src="{% static 'img/background/industry.png' %}"> </a>
					</div>
				</div>
			</div>
			<!-- single-well end-->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="tab-menu">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active">
						<a data-toggle="tab" href="#p-view-1" role="tab">Healthcare</a>
						</li>
						<li><a data-toggle="tab" href="#p-view-2" role="tab">Retail</a>
						</li>
						<li><a data-toggle="tab" href="#p-view-3" role="tab">Financial</a>
						</li>
					</ul>
				</div>
				<div class="tab-content">
					<div id="p-view-1" class="tab-pane active">
						<div class="tab-inner">
							<div class="event-content head-team">
								<h4>Healthcare</h4>
								<p align="left">Technology today plays a big role 
								in healthcare. From Speed in delivering healthcare 
								to patient record keeping and protection. </p>
								<p align="left">Our expert consultants help you 
								all the way in optimizing your workflow processes 
								to increase efficiency. </p>
							</div>
						</div>
					</div>
					<div id="p-view-2" class="tab-pane">
						<div class="tab-inner">
							<div class="event-content head-team">
								<h4>Retail</h4>
								<p align="left">Understand what your consumers are 
								actually looking for. Understanding customers shopping 
								behaviours will help you make more informed decisions 
								about your business. </p>
								<p align="left">At Sageoconsult, we take care of 
								your business intelligence needs. We help you make 
								strategic decisions based on analysis from the data 
								you collect </p>
							</div>
						</div>
					</div>
					<div id="p-view-3" class="tab-pane">
						<div class="tab-inner">
							<div class="event-content head-team">
								<h4>Financial</h4>
								<p align="left">Do you have records from differenct 
								sources. Integrating them will help you derive more 
								insight into the data. </p>
								<p align="left">Data Integration and warehousing 
								is gradually becoming the core of every successful 
								Business. Run complex analysi on your data to gain 
								the insight you want. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-btn ready-btn readMore">
			READ MORE </div>
		<!-- end Row --></div>
	<div class="container m-t-20 div-readmore a-h-l divStyle">
		<div>
			<div class="healthCare">
				<div class="d-flex toggleControl">
					<div class="">
						<i class="fa fa-plus"></i><i class="fa fa-minus"></i>
					</div>
					<div class="contentHead">
						<p>Health</p>
					</div>
				</div>
				<div class="contentHealth toggleContent">
					<p>Healthcare processes are very essential in delivering quality healthcare in a timely manner.  We analyze your current processes and policies. We gather inputs from you current processes, optimize this process and implement this transformation. We take into consideration the consumers of these processes as well. We focus on PEOPLE, PROCESS AND TECHNOLOGY. We help optimize your processes from patient check-in to tracking patient information. 
							</p>
				</div>
			</div>
						<div>
				<div class="d-flex toggleControl">
					<div class="">
						<i class="fa fa-plus"></i><i class="fa fa-minus"></i>
					</div>
					<div class="contentHead">
						<p>Retail</p>
					</div>
				</div>
				<div class="contentHealth toggleContent">
					<p><strong>Purchasing</strong> <br>
						Most small to medium businesses today are overwhelmed with the process of tracking and managing purchases from external vendors. This can be a huge burden for most companies. At sageoconsult, out team of experts are always ready to provide you with expert advice and solutions to these problems. We will help you stay on top of this process by automating this process wherever possible. We will help you keep track of all your incoming and outgoing goods, as well as your external vendors. We provide the solution for and handling purchasing and supply in the most effective way. <br><br>
						<strong>Inventory Handling</strong> <br>
						We provide expert advice and solution to handling your inventory needs. We will build a customized solution that best meets your business needs. From receiving of shipments to delivering of products to customers, we make sure you are up to date with your inventory items. Dead Inventory is very costly to businesses and we are here help prevent this. <br><br>
						<strong>Customer Insight</strong> <br> 
						Customers are the most important component of any business, and understanding customers is vital to the growth of the business. We will provide customized solutions for your customer needs. We provide advanced analytical solutions for gaining deeper insight into you customers’ needs. Never be taken by surprise. Know what your customers wants and provide them in a timely fashion.</p>
				</div>
			</div>

			<div>
				<div class="d-flex toggleControl">
					<div class="">
						<i class="fa fa-plus"></i><i class="fa fa-minus"></i>
					</div>
					<div class="contentHead">
						<p>Financial</p>
					</div>
				</div>
				<div class="contentHealth toggleContent">
					<p>We provide customized data warehousing solutions to help optimize your reporting needs. Having silo data sources for reporting could be time consuming and costly. We help you save money through integrating data from all these sources ad loading them into a data warehouse and data mart according to your business needs. Due to the increase in off the shelve solutions on the market today, it is very easy to conduct businesses since these solutions are mostly very effective and less costly, however, maintaining data from these different sources has become a challenge. We help   turn these challenges into opportunities by aggregating data from these sources, performing complex transformations and also analysis.  </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End industry Area -->
<div id="healthcare" class="tab-content">
	Tvoluptas, praesentium maxime cum fugiat,magnam ducimus adipisci voluptas, praesentium 
	architecto ducimus, doloribus fuga itaque omnis placeat. </div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header subscribeBorderBtm">
				<button class="close" data-dismiss="modal" type="button">&times;
				</button>
				<h4 class="modal-title">We appreciate your business....</h4>
			</div>
			<div class="modal-body">
				<p class="fs-14 successs">Thanks for contacting Sageo Consult. Please 
				check your email for updates.</p>
				<p class="fs-14 fail">Please enter a valid email address.</p>
			</div>
		</div>
	</div>
</div>
<!--Modal End -->
<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 footer-box wow">
				<h4>About Us</h4>
				<div class="footer-box-text">
					<p>Sageo Consult is an IT services company that offers business 
					and technical expertise to enable organizations in the creation, 
					management and optimization of information to adapt to information 
					technology revolution. </p>
					<p><a href="/about">Read more...</a></p>
				</div>
			</div>
			<div class="col-sm-2 footer-box wow">
				<h4>Services</h4>
				<div class="footer-box-text footer-box-text-contact">
					<p><a href="/services?sn=dataserv#serviceArea">Data Migration</a>
					</p>
					<p><a href="/services?sn=dataserv#serviceArea">Data Integration</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Website Development</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Web Application</a></p>
					<p><a href="/services?sn=dataserv#serviceArea">Big Data &amp; 
					Analytics</a></p>
				</div>
			</div>
			<div class="col-sm-2 footer-box wow">
				<h4><br></h4>
				<div class="footer-box-text footer-box-text-contact">
					<p><a href="/services?sn=netinfra#serviceArea">Security</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">Firewall 
					Auditing</a></p>
					<p><a href="/services?sn=bpmrpm#serviceArea">BPM &amp; 
					RPA</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">IT Infrastructure 
					Assessment</a></p>
				</div>
			</div>
			<div class="col-sm-2 footer-box wow ">
				<h4>Careers</h4>
				<div class="footer-box-text footer-box-text-subscribe">
					<p>Enter your email to receive Job notifications:</p>
					<form action="/about" method="post" role="form">
						<div class="form-group">
							<label class="sr-only" for="subscribe-email">Email address</label>
							<input id="subscribe-email" class="subscribe-email" name="email" placeholder="Email..." type="text">
						</div>
						<button class="btn" type="submit">Subscribe</button>
					</form>
					<p class="success-message"></p>
					<p class="error-message"></p>
				</div>
			</div>
			<div class="col-sm-3 footer-box wow ">
				<h4>Contact Us</h4>
				<div class="footer-box-text footer-box-text-contact">
					<p><i class="fa fa-map-marker"></i>P.O Box 307321, Columbus, 
					OH 43230</p>
					<p><i class="fa fa-phone"></i>Phone: +1 614 434 6691</p>
					<p><i class="fa fa-user"></i>Skype: sageoconsult</p>
					<p><i class="fa fa-envelope"></i>Email: <a href="">@sageoconsult.com</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 wow">
				<div class="footer-border">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7 footer-copyright wow">
				<p>Copyright &copy 2019 Sageo Consult - All rights reserved</p>
			</div>
			<div class="col-sm-5 footer-social wow">
				<a href=""><i class="fa fa-facebook"></i></a><a href="">
				<i class="fa fa-google"></i></a><a href="">
				<i class="fa fa-twitter"></i></a> <span> | </span>
				 <a href="#">Terms of Use </a>
				<span> | </span> <a href="/privacy">Privacy Policy </a> <span> | </span> <a href="#">Disclaimer
				</a> <span> | </span> <a href="/contact">Contact Us </a></div>
		</div>
	</div>
	</div>
</footer>
<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- JavaScript ../libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery.backstretch.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/knob/jquery.knob.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/wow/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/parallax/parallax.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/easing/easing.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/appear/jquery.appear.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/flexslider/jquery.flexslider-min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'js/retina-1.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$(".readMore").click(function(){
			$(".div-readmore").toggleClass("active");
			if($(".div-readmore").is(":visible")){
				$(".readMore").html("READ LESS");
				$(".toggleControl").first().removeClass("collapsed");
				$(".healthCare").siblings().find(">:first-child").addClass("collapsed");
			}
			else{
				$(".readMore").html("READ MORE");
			}
		});
		$(".toggleControl").click(function(){
			$(this).toggleClass("collapsed");
			if($(this).hasClass("collapsed")){
				$(this).next().removeClass("collapse");
			}
			else{
				$(this).next().addClass("collapse");
			}	

		});
	});
</script>

</body>

</html>
