{% load static %}
<!doctype html>
<html lang="en">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139388883-1"></script>
		<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-139388883-1');
		</script>
		
<meta charset="utf-8">
<title>Sageo Consult | IT Services Company</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<!-- Favicons -->
<link href="{% static 'img/favicon.png' %}" rel="icon">
<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link href="{% static 'img/ico/favicon.ico' %}" rel="shortcut icon">
<link href="{% static 'img/ico/apple-touch-icon-144-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="{% static 'img/ico/apple-touch-icon-114-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="{% static 'img/ico/apple-touch-icon-72-precomposed.png' %}" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="{% static 'img/ico/apple-touch-icon-57-precomposed.png' %}" rel="apple-touch-icon-precomposed">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<!-- Bootstrap CSS File -->
<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- ../libraries CSS Files -->
<link href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
<link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/animate/animate.min.css" rel="stylesheet' %}">
<link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
<!-- Nivo Slider Theme -->
<link href="{% static 'css/nivo-slider-theme.css' %}" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!-- Responsive Stylesheet File -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
</head>

<body>

<div id="preloader">
</div>
<header>
	<!-- header-area start -->
	<div id="sticker" class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- Navigation -->
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button aria-expanded="false" class="navbar-toggle collapsed" data-target=".bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span></button>
							<!-- Brand --><a href="/index">
							<img alt="Sageo Logo" src="{% static 'img/logo.png' %}" title="SageoConsult">
							</a>
							<a class="navbar-brand page-scroll sticky-logo" href="/">
							<h1><span>Sageo</span> Consult</h1>
							</a></div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div id="navbar-example" class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a class="page-scroll" href="/">
								Home</a> </li>
								<li><a class="page-scroll" href="/about">About 
								Us</a> </li>
								<li><a class="page-scroll" href="/careers">Careers</a>
								</li>
								<li><a class="page-scroll" href="/blog">Blog</a>
								</li>
								<li class="dropdown active">
								<a class="dropdown-toggle" data-toggle="dropdown" href="">
								Services<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
									<a href="/services?sn=dataserv#serviceArea">
									Data Services</a></li>
									<li>
									<a href="/services?sn=webdev#serviceArea">
									Web Development</a></li>
									<li>
									<a href="/services?sn=netinfra#serviceArea">
									Networking &amp; Infrastructure</a></li>
									<li>
									<a href="/services?sn=bpmrpm#serviceArea">
									BPM &amp; RPM</a></li>
								</ul>
								</li>
								<li><a class="page-scroll" href="/industry">
								Industries</a> </li>
								<li><a class="page-scroll" href="/contact">Contact 
								Us</a> </li>
							</ul>
						</div>
						<!-- navbar-collapse -->
					</nav>
					<!-- END: Navigation --></div>
			</div>
		</div>
	</div>
	<!-- header-area end -->
</header>
<!-- header end -->


<div id="servicesBackground">
	<div class="slider-content text-center">
		<div class="header-bottom layer-1-2">
			<div>
				<h1>Services</h1>
			</div>
			<br>
			<div>
				<h4 id="downlayer">Transforming your Business to Stay Ahead of Global IT Competition</h4>
			</div>
		</div>
	</div>
</div>
<!-- industry area start -->
<!-- <div class="industry-area area-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="section-headline text-center">
					<h2>Industry</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- single-well start-->
<!--<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="well-left">
					<div class="single-well">
						<a href="#">
						<img alt="" src="../img/background/industry.png"> </a>
					</div>
				</div>
			</div>
			<!-- single-well end-->
<!--<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="tab-menu">
					<!-- Nav tabs -->
<!--<ul class="nav nav-tabs" role="tablist">
						<li class="active">
						<a data-toggle="tab" href="#p-view-1" role="tab">Healthcare</a>
						</li>
						<li><a data-toggle="tab" href="#p-view-2" role="tab">Retail</a>
						</li>
						<li><a data-toggle="tab" href="#p-view-3" role="tab">Financial</a>
						</li>
					</ul>
				</div>
				<div class="tab-content">
					<div id="p-view-1" class="tab-pane active">
						<div class="tab-inner">
							<div class="event-content head-team">
								<h4>Healthcare</h4>
								<p>Redug Lares dolor sit amet, consectetur adipisicing 
								elit. Animi vero excepturi magnam ducimus adipisci 
								voluptas, praesentium maxime necessitatibus in dolor 
								dolores unde ab, libero quo. Aut, laborum sequi.
								</p>
								<p>voluptas, praesentium maxime cum fugiat,magnam 
								ducimus adipisci voluptas, praesentium architecto 
								ducimus, doloribus fuga itaque omnis placeat.
								</p>
								Secretos de amor para sempre conti nuevo landi kani 
								coola rochianesa.
								<p></p>
							</div>
						</div>
					</div>
					<div id="p-view-2" class="tab-pane">
						<div class="tab-inner">
							<div class="event-content head-team">
								<h4>Retail</h4>
								<p>voluptas, praesentium maxime cum fugiat,magnam 
								ducimus adipisci voluptas, praesentium architecto 
								ducimus, doloribus fuga itaque omnis. </p>
								<p>Redug Lares dolor sit amet, consectetur adipisicing 
								elit. Animi vero excepturi magnam ducimus adipisci 
								voluptas, praesentium maxime necessitatibus in dolor 
								dolores unde ab, libero quo. Aut. </p>
							</div>
						</div>
					</div>
					<div id="p-view-3" class="tab-pane">
						<div class="tab-inner">
							<div class="event-content head-team">
								<h4>Financial</h4>
								<p>voluptas, praesentium maxime cum fugiat,magnam 
								ducimus adipisci voluptas, praesentium architecto 
								ducimus, doloribus fuga itaque omnis placeat.
								</p>
								<p>voluptas, praesentium maxime cum fugiat,magnam 
								ducimus adipisci voluptas, praesentium architecto 
								ducimus, doloribus fuga itaque omnis. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- end Row --></div>
</div>
<!-- End industry Area -->
<!-- Start Service area --->
<div id="serviceArea">
	<div class="row m-l-r-0">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="section-headline services-head text-center">
				<h2>Our Core Services</h2>
			</div>
		</div>
	</div>
	<br><br>
	<div id="detailed" class="container service-detail">
		<div class="row m-l-r-0">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked " role="tablist">
						<li class="brand-nav active dataserv" role="presentation">
						<a aria-controls="dataserv" data-toggle="tab" href="#dataserv" role="tab">
						Data Services</a></li>
						<li class="brand-nav webdev" role="presentation">
						<a aria-controls="webdev" data-toggle="tab" href="#webdev" role="tab">
						Web & App Development</a></li>
						<li class="brand-nav netinfra" role="presentation">
						<a aria-controls="netinfra" data-toggle="tab" href="#netinfra" role="tab">
						Networking &amp; Infrastructure</a></li>
						<li class="brand-nav bpmrpm" role="presentation">
						<a aria-controls="bpmrpm" data-toggle="tab" href="#bpmrpm" role="tab">
						BPM &amp; RPM</a></li>
					</ul>
				</div>
				<div class="col-sm-9">
					<div id = "services-content" class="tab-content">
						<div id="dataserv" class="tab-pane active" role="tabpanel">
							<br>
							<h5>Data Migration</h5>
							<p>Data today is the heart of all businesses. The speed 
							at which technology is advancing today has posed many 
							challenges to businesses. Data migrations to more updated 
							systems underpin the success of many business strategic 
							initiatives. At Sageo Consult, we take care of this 
							problem while you focus on growing your business. Our 
							team of experts help transfer your valuable data information 
							from the source location to the target location completely 
							and accurately using industry proven methodologies. 
							Our methods provide the quickest and cost-efficient 
							solution for your business operations. </p>
							<h5>Data Integration</h5>
							<p>According to Experian, 66% of companies lack a centralized 
							approach to data, with data silos being one the of the 
							most common issues. Data silo happens when fixed data 
							remains under the control of one department and is isolated 
							from the rest of the department due to different channels 
							through which information is collected. This results 
							in poor communication between departments, systems and 
							processes that affect business decisions. At Sageo Consult, 
							our IT specialists will consolidate your business data 
							residing in different sources to provide you with a 
							real-time unified view of business performance. </p>
							<h5>Analytics</h5>
							<p>Big data has become a powerful resource. With each 
							passing time, the discovery of new operational insights, 
							and untapped customer segments grows. To succeed in 
							a globally competitive world, companies must move beyond 
							aiming blindly at potential customers. Sageo Consult 
							provides data analytics solutions to business clients 
							by providing strategy, business intelligence, advanced 
							analytics and automation tools to help clients gain 
							a competitive advantage in the market industry (Big 
							Data, Business Intelligence &amp; Data Warehousing, 
							Data Science &amp; AI). </p>
						</div>
						<div id="webdev" class="tab-pane" role="tabpanel">
							<br>
							<h5>Website Development</h5>
							<p>Sageo Consult believes that web development is an 
							ongoing process. The goal of our consultants and developers 
							is to keep your business website current, differentiated, 
							relevant. We employ high-end web designs that tell the 
							story behind your brand in a compelling and captivative 
							way. We focus on using UI/UX best practices, provide 
							brand design strategies, and digital technologies that 
							will ensure that your business has a fast, secure and 
							scalable platform that can be integrated across various 
							departments within your business. </p>
							<h5>Application Development</h5>
							<p>The development experts at Sageo Consult will help 
							transform your business ideas into efficient custom 
							software and application solutions. Since each business 
							is different from organization to organization, we offer 
							optimal strategies that will uncover the true objectives 
							of your web application. We handle projects from its 
							architecture, custom integration, interactive design, 
							to its deployment. Our team of experts can handle projects 
							entirely or work with your development team to offer 
							the best solution for your business. </p>
						</div>
						<div id="netinfra" class="tab-pane" role="tabpanel">
							<br>
							<h5>IT Infrastructure Assessment</h5>
							<p>Is your IT infrastructure running the way it is supposed 
							to? Sageo Consult’s team of experts will offer your 
							business a comprehensive review of your current technology 
							systems. Our detailed assessment will reveal where you 
							are as a company and where you need to be based on proven 
							industry standards. Our process will reveal vulnerabilities 
							within your IT infrastructure including internet, intranet 
							and server physical environment. The end goal is to 
							offer recommendations on critical changes that need 
							to be implemented within your IT environment to offer 
							maximum benefit to your IT systems now and as it grows.
							</p>
							<h5>Firewall Auditing</h5>
							<p>Sageo Consult offers firewall auditing to prove how 
							secure your network is, as opposed to how secure your 
							business thinks it is. Our firewall audits take into 
							account standards set by SOX, PCI-DSS, and HIPAA. Our 
							goal is to help your business detect weaknesses in your 
							network security posture and identify policies which 
							need to be updated. Our experts will review your security 
							and policy controls to prove to your business partners, 
							customers that your network is secure. </p>
							<h5>Security</h5>
							<p>At SageoConsult, we strive to have enough knowledge 
							and stay current about the latest cyber-attacks, threats 
							and vulnerabilities. Our methods ensure that we mitigate 
							risk and overcome threats. We work to best understand 
							the security posture of your business and the latest 
							regulations to comply with so that your business can 
							operate efficiently. Our team of experts can design 
							your IT network plan and ensure that it is implemented 
							correctly for the first time and throughout its maintenance. 
							Our deliveries include but are not limited to penetration 
							testing, regulatory and standard compliance, PCI, DSS, 
							GDPR, and forensic analysis, all at an affordable price.
							</p>
						</div>
						<div id="bpmrpm" class="tab-pane" role="tabpanel">
							<br>
							<h5>Business Process Reengineering</h5>
							<p>With time some business processes become outdated 
							and less viable due to various factors such as policy 
							changes and technology enhancement. Sageo Consult offers 
							deliverables that support continuous process improvement 
							and optimization. Our experts rethink how your business 
							can work more efficiently in order to improve customer 
							service, cut operational costs, and become world class 
							competitors. </p>
							<h5>Responsive Process Management</h5>
							<p>Efficiently unleash cross-media information without 
							cross-media value. Quickly maximize timely deliverables 
							for real-time schemas. Dramatically maintain clicks-and-mortar 
							solutions without functional solutions. </p>
							<p>Completely synergize resource sucking relationships 
							via premier niche markets. Professionally cultivate 
							one-to-one customer service with robust ideas. Dynamically 
							innovate resource-leveling customer service for state 
							of the art customer service. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Service Area --->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header subscribeBorderBtm">
				<button class="close" data-dismiss="modal" type="button">&times;
				</button>
				<h4 class="modal-title">We appreciate your business....</h4>
			</div>
			<div class="modal-body">
				<p class="fs-14 successs">Thanks for contacting Sageo Consult. Please 
				check your email for updates.</p>
				<p class="fs-14 fail">Please enter a valid email address.</p>
			</div>
		</div>
	</div>
</div>
<!--Modal End -->
<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 footer-box wow">
				<h4>About Us</h4>
				<div class="footer-box-text">
					<p>Sageo Consult is an IT services company that offers business 
					and technical expertise to enable organizations in the creation, 
					management and optimization of information to adapt to information 
					technology revolution. </p>
					<p><a href="/about">Read more...</a></p>
				</div>
			</div>
			<div class="col-sm-2 footer-box wow">
				<h4>Services</h4>
				<div class="footer-box-text footer-box-text-contact">
					<p><a href="services.html?sn=dataserv#serviceArea">Data Migration</a>
					</p>
					<p><a href="/services?sn=dataserv#serviceArea">Data Integration</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Website Development</a></p>
					<p><a href="/services?sn=webdev#serviceArea">Web Application</a></p>
					<p><a href="/services?sn=dataserv#serviceArea">Big Data &amp; 
					Analytics</a></p>
				</div>
			</div>
			<div class="col-sm-2 footer-box wow">
				<h4><br></h4>
				<div class="footer-box-text footer-box-text-contact">
					<p><a href="/services?sn=netinfra#serviceArea">Security</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">Firewall 
					Auditing</a></p>
					<p><a href="/services?sn=bpmrpm#serviceArea">BPM &amp; RPA</a></p>
					<p><a href="/services?sn=netinfra#serviceArea">IT Infrastructure 
					Assessment</a></p>
				</div>
			</div>
			<div class="col-sm-2 footer-box wow ">
				<h4>Careers</h4>
				<div class="footer-box-text footer-box-text-subscribe">
					<p>Enter your email to receive Job notifications:</p>
					<form action="/about" method="post" role="form">
						<div class="form-group">
							<label class="sr-only" for="subscribe-email">Email address</label>
							<input id="subscribe-email" class="subscribe-email form-control" name="email" placeholder="Email..." type="text">
						</div>
						<button class="btn" type="button">
						Subscribe</button>
					</form>
					<p class="success-message"></p>
					<p class="error-message"></p>
				</div>
			</div>
			<div class="col-sm-3 footer-box wow ">
				<h4>Contact Us</h4>
				<div class="footer-box-text footer-box-text-contact">
					<p><i class="fa fa-map-marker"></i>P.O Box 307321, Columbus, OH 43230</p>
					<p><i class="fa fa-phone"></i>Phone: +1 614 434 6691</p>
					<p><i class="fa fa-user"></i>Skype: sageoconsult</p>
					<p><i class="fa fa-envelope"></i>Email: <a href="">@sageoconsult.com</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 wow">
				<div class="footer-border">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7 footer-copyright wow">
				<p>Copyright &copy 2019 Sageo Consult - All rights reserved</p>
			</div>
			<div class="col-sm-5 footer-social wow">
				<a href=""><i class="fa fa-facebook"></i></a><a href="">
				<i class="fa fa-google"></i></a><a href="">
				<i class="fa fa-twitter"></i></a><span> | </span><a href="#">Terms of Use </a>
				<span> | </span> <a href="/privacy">Privacy Policy </a><span> | </span> <a href="#">Disclaimer </a><span> | </span>				<a href="/contact">Contact Us </a></div>
		</div>
	</div>
</footer>
<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- JavaScript ../libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery.backstretch.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/knob/jquery.knob.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/wow/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/parallax/parallax.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/easing/easing.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/appear/jquery.appear.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/flexslider/jquery.flexslider-min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'js/retina-1.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		if(getUrlParameter('sn') != ""){
			var selectedService = getUrlParameter('sn');
			$("#serviceArea").css({
				"padding-top": "100px", 
				"margin-top": "-100px"
			});
			$(".brand-nav").removeClass("active");
			$("." + selectedService).children().click();
		}
		$("#myModal").on("hidden.bs.modal", function () {
			$(".subscribe-email").val("");
		});
		
		$(".btn").click(function(){
			$(".modal-body p").removeClass("hidden");
			if($(".subscribe-email").val().length > 0)
			{
				$(".fail").addClass("hidden");
				$("#myModal").modal('show');
			}else {
				$(".successs").addClass("hidden");
				$("#myModal").modal('show');
			}
		
		});

		
	});
	
	function getUrlParameter(name) {
	    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
	    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
	    var results = regex.exec(location.search);
	    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
	};
</script>

</body>

</html>
